{include file="common/header"}
<!-- /头部 -->

<div class="main-container container-fluid">
  <div class="page-container">
    <!-- Page Sidebar -->
    {include file="common/left"}
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
      <!-- Page Breadcrumb -->
      <div class="page-breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <a href="#">系统</a>
          </li>
          <li class="active">图片管理</li>
        </ul>
      </div>
      <!-- /Page Breadcrumb -->

      <!-- Page Body -->
      <div class="page-body">

        <button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url(\'Image/add\',[\'goods_id\'=>$goods_id])}'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="flip-scroll">
                  <table class="table table-bordered table-hover">
                    <thead class="">
                      <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">商品id</th>
                        <th class="text-center">商品名称</th>
                        <th class="text-center">图片</th>
                        <th class="text-center">是否封面</th>
                        <th class="text-center">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      {foreach $data as $v}
                      <tr>
                        <td style="line-height:97px;text-align: center;">{$v.image_id}</td>
                        <td style="line-height:97px;text-align: center;">{$v.goods_id}</td>
                        <td style="line-height:97px;text-align: center;">{$v.goods_name}</td>
                        <td style="line-height:97px;text-align: center;">
                          <img src="{$v.image_s_url}" alt=""></td>
                        <td style="line-height:97px;text-align: center;">
                          {if condition="$v.is_face eq 1 "}
                          {$v.is_face == 1?'√':'X'}
                          {else /}
                          <a href="{:url('Image/doFace',['image_id'=>$v.image_id,'goods_id'=>$v.goods_id])}" title="点我变封面">{$v.is_face == 1?'√':'X'}</a>
                          {/if}
                        </td>
                        <td style="line-height:97px;text-align: center;">
                          <a href="{:url('Goods/index')}"  class="btn btn-danger btn-sm shiny" style="margin-right: 10px">
                            <i class="fa fa-trash-o"></i> 返回
                          <a href="#" onClick="warning('确实要删除吗', '{:url(\'Image/delete\',[\'image_id\'=>$v.image_id])}')" class="btn btn-danger btn-sm shiny">
                          <i class="fa fa-trash-o"></i> 删除
                          </a>
                        </td>
                      </tr>
                    {/foreach}
                    </tbody>
                  </table>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
       {$data->render()}
      </div>
      <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
  </div>
</div>

<!--Basic Scripts-->
<script src="__STATIC__/admin/style/jquery_002.js"></script>
<script src="__STATIC__/admin/style/bootstrap.js"></script>
<script src="__STATIC__/admin/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__STATIC__/admin/style/beyond.js"></script>


</body></html>